body{
   height: 100vh;
   display: flex;
   justify-content: center; 
   align-items: center;
   background-color: wheat;
}

h1{
    color: rgb(11, 106, 129);
    font-family: sans-serif;
    letter-spacing: 4px;
    font-size: 1.5rem;

}


h1::first-letter{
    font-size: 4rem;
    color: cadetblue;

}

h1::after{
    content: '😊';
    display: inline-block;
    font-size: 1.5rem;
    
}

/* .box-container{
    position: relative;
    bottom: 50px;
    left: 10px;
}

.box{
   width: 15px;
   height: 120px;
   background-color: yellowgreen;
}

.skyblue{
    background-color: rgb(26, 127, 167);
    position: absolute;
    left: 10px;
    z-index: 1;
    top: 5px;
    
}

.lightgreen{
    background-color: rgb(37, 163, 37);
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 2;
}

.lightpink{
    background-color: rgb(206, 69, 90);
    position: absolute;
    left: 35px;
    top: 15px;
    z-index: 3;
} */